body {
    background: url(jags.jpg) no-repeat;
    background-size: cover;
    font-family: Arial;
    color: Black;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 200px;
    height: 40px
    background-color: white;
    opacity: .8;
}
